.flatpickr-input {
    cursor: pointer;
    z-index: 1
}

.flatpickr-mobileInput {
    width: 0;
    height: 0
}

.flatpickr-calendar,
.flatpickr-mobileInput {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    box-sizing: border-box;
    padding: 0
}

.flatpickr-calendar {
    background: transparent;
    overflow: hidden;
    max-height: 0;
    text-align: center;
    -webkit-animation: none;
    animation: none;
    direction: ltr;
    border: 0;
    font-size: 14px;
    line-height: 24px;
    border-radius: 5px;
    width: 293.75px;
    background: #fff;
    box-shadow: 1px 0 0 #eee, -1px 0 0 #eee, 0 1px 0 #eee, 0 -1px 0 #eee, 0 3px 13px rgba(0, 0, 0, .08);
    z-index: 5555;
}

.flatpickr-calendar.inline,
.flatpickr-calendar.open {
    opacity: 1;
    visibility: visible;
    overflow: visible;
    max-height: 640px
}

.flatpickr-calendar.open {
    display: inline-block;
    z-index: 5556;
    -webkit-animation: a .5s cubic-bezier(0, 1, .5, 1);
    animation: a .5s cubic-bezier(0, 1, .5, 1)
}

.flatpickr-calendar.inline {
    display: block;
    position: relative
}

.flatpickr-calendar.static {
    position: relative;
    top: 2px
}

.flatpickr-calendar.static.open {
    display: block
}

.flatpickr-calendar.hasWeeks {
    width: auto
}

.flatpickr-calendar.dateIsPicked.hasTime .flatpickr-time {
    height: 40px
}

.flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
    height: auto
}

.flatpickr-calendar:after,
.flatpickr-calendar:before {
    position: absolute;
    display: block;
    pointer-events: none;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    left: 22px
}

.flatpickr-calendar.rightMost:after,
.flatpickr-calendar.rightMost:before {
    left: auto;
    right: 22px
}

.flatpickr-calendar:before {
    border-width: 5px;
    margin: 0 -5px
}

.flatpickr-calendar:after {
    border-width: 4px;
    margin: 0 -4px
}

.flatpickr-calendar.arrowTop:after,
.flatpickr-calendar.arrowTop:before {
    bottom: 100%
}

.flatpickr-calendar.arrowTop:before {
    border-bottom-color: #eee
}

.flatpickr-calendar.arrowTop:after {
    border-bottom-color: #fff
}

.flatpickr-calendar.arrowBottom:after,
.flatpickr-calendar.arrowBottom:before {
    top: 100%
}

.flatpickr-calendar.arrowBottom:before {
    border-top-color: #eee
}

.flatpickr-calendar.arrowBottom:after {
    border-top-color: #fff
}

.flatpickr-month {
    background: transparent;
    color: #3c3f40;
    fill: #3c3f40;
    height: 28px;
    line-height: 24px;
    text-align: center;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2
}

.flatpickr-next-month,
.flatpickr-prev-month {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    height: 16px;
    line-height: 16px
}

.flatpickr-next-month i,
.flatpickr-prev-month i {
    position: relative
}

.flatpickr-next-month.flatpickr-prev-month,
.flatpickr-prev-month.flatpickr-prev-month {
    left: calc(3.57% - 1.5px)
}

.flatpickr-next-month.flatpickr-next-month,
.flatpickr-prev-month.flatpickr-next-month {
    right: calc(3.57% - 1.5px)
}

.flatpickr-next-month:hover,
.flatpickr-prev-month:hover {
    color: #f64747
}

.flatpickr-next-month:hover svg,
.flatpickr-prev-month:hover svg {
    fill: #f64747
}

.flatpickr-next-month svg,
.flatpickr-prev-month svg {
    width: 14px
}

.flatpickr-next-month svg path,
.flatpickr-prev-month svg path {
    -webkit-transition: fill .1s;
    transition: fill .1s;
    fill: inherit
}

.numInputWrapper {
    position: relative;
    height: auto
}

.numInputWrapper input,
.numInputWrapper span {
    display: inline-block
}

.numInputWrapper input {
    width: 100%
}

.numInputWrapper span {
    position: absolute;
    right: 0;
    width: 14px;
    padding: 0 4px 0 2px;
    height: 50%;
    line-height: 50%;
    opacity: 0;
    z-index: 4;
    cursor: pointer;
    border: 1px solid rgba(64, 72, 72, .05);
    box-sizing: border-box
}

.numInputWrapper span:hover {
    background: rgba(0, 0, 0, .1)
}

.numInputWrapper span:active {
    background: rgba(0, 0, 0, .2)
}

.numInputWrapper span:after {
    display: block;
    content: "";
    position: absolute;
    top: 33%
}

.numInputWrapper span.arrowUp {
    top: 0;
    border-bottom: 0
}

.numInputWrapper span.arrowUp:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(64, 72, 72, .6)
}

.numInputWrapper span.arrowDown {
    top: 50%
}

.numInputWrapper span.arrowDown:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(64, 72, 72, .6)
}

.numInputWrapper span svg {
    width: inherit;
    height: auto
}

.numInputWrapper span svg path {
    fill: rgba(60, 63, 64, .5)
}

.numInputWrapper:hover {
    background: rgba(0, 0, 0, .05)
}

.numInputWrapper:hover span {
    opacity: 1
}

.flatpickr-current-month {
    font-size: 135%;
    line-height: inherit;
    font-weight: 300;
    color: inherit;
    position: absolute;
    width: 75%;
    left: 12.5%;
    top: 5px;
    display: inline-block;
    text-align: center
}

.flatpickr-current-month span.cur-month {
    font-family: inherit;
    font-weight: 700;
    color: inherit;
    display: inline-block;
    padding-left: 7px
}

.flatpickr-current-month .numInputWrapper {
    width: 6ch;
    width: 7ch\0;
    display: inline-block
}

.flatpickr-current-month .numInputWrapper span.arrowUp:after {
    border-bottom-color: #3c3f40
}

.flatpickr-current-month .numInputWrapper span.arrowDown:after {
    border-top-color: #3c3f40
}

.flatpickr-current-month input.cur-year {
    background: transparent;
    box-sizing: border-box;
    color: inherit;
    cursor: default;
    padding: 0 0 0 .5ch;
    margin: 0;
    display: inline;
    font-size: inherit;
    font-family: inherit;
    font-weight: 300;
    line-height: inherit;
    height: auto;
    border: 0;
    border-radius: 0;
    vertical-align: initial
}

.flatpickr-current-month input.cur-year:focus {
    outline: 0
}

.flatpickr-current-month input.cur-year[disabled],
.flatpickr-current-month input.cur-year[disabled]:hover {
    font-size: 100%;
    color: rgba(60, 63, 64, .5);
    background: transparent;
    pointer-events: none
}

.flatpickr-weekdays {
    background: transparent;
    text-align: center;
    overflow: hidden
}

.flatpickr-days {
    padding: 0 2.375px;
    outline: 0;
    text-align: left;
    width: 293.75px;
    box-sizing: border-box;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-right: 1px solid transparent
}

.flatpickr-day {
    background: none;
    border: 1px solid transparent;
    border-radius: 150px;
    box-sizing: border-box;
    color: #404848;
    cursor: pointer;
    font-weight: 400;
    width: 14.2857143%;
    -ms-flex-preferred-size: 14.2857143%;
    flex-basis: 14.2857143%;
    max-width: 38px;
    height: 38px;
    line-height: 38px;
    margin: 0 1.5px;
    display: inline-block;
    display: inline-block\9;
    position: relative;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center
}

.flatpickr-day.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day.nextMonthDay:focus,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.today.inRange,
.flatpickr-day:focus,
.flatpickr-day:hover {
    cursor: pointer;
    outline: 0;
    background: #e9e9e9;
    border-color: #e9e9e9
}

.flatpickr-day.today {
    border-color: #f64747
}

.flatpickr-day.today:focus,
.flatpickr-day.today:hover {
    border-color: #f64747;
    background: #f64747;
    color: #fff
}

.flatpickr-day.endRange,
.flatpickr-day.endRange.nextMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.endRange:focus,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.selected:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.startRange:focus,
.flatpickr-day.startRange:hover {
    background: #4f99ff;
    color: #fff;
    border-color: #4f99ff
}

.flatpickr-day.endRange.startRange,
.flatpickr-day.selected.startRange,
.flatpickr-day.startRange.startRange {
    border-radius: 50px 0 0 50px
}

.flatpickr-day.endRange.endRange,
.flatpickr-day.selected.endRange,
.flatpickr-day.startRange.endRange {
    border-radius: 0 50px 50px 0
}

.flatpickr-day.inRange {
    border-radius: 0;
    box-shadow: -3.75px 0 0 #e9e9e9, 3.75px 0 0 #e9e9e9
}

.flatpickr-day.disabled,
.flatpickr-day.disabled:hover {
    pointer-events: none
}

.flatpickr-day.disabled,
.flatpickr-day.disabled:hover,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.nextMonthDay,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.prevMonthDay {
    color: rgba(0, 0, 0, .15);
    background: transparent;
    border-color: #e9e9e9;
    cursor: default
}

span.flatpickr-weekday {
    cursor: default;
    font-size: 90%;
    color: hsla(0, 0%, 46%, .54);
    height: 27.166666666666668px;
    line-height: 24px;
    background: transparent;
    text-align: center;
    display: block;
    float: left;
    width: 14.28%;
    font-weight: 700;
    margin: 0;
    padding-top: 3.166666666666667px
}

.rangeMode .flatpickr-day {
    margin-top: 1px
}

.flatpickr-weekwrapper {
    display: inline-block;
    float: left;
    z-index: 2
}

.flatpickr-weekwrapper .flatpickr-weeks {
    padding: 0 12px;
    box-shadow: 1px 0 0 #eee
}

.flatpickr-weekwrapper .flatpickr-weekday {
    float: none;
    width: 100%
}

.flatpickr-weekwrapper span.flatpickr-day {
    display: block;
    width: 100%;
    max-width: none;
    margin: 0;
    border: 0
}

.flatpickr-innerContainer {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    overflow: hidden
}

.flatpickr-rContainer {
    display: inline-block;
    padding: 0;
    box-sizing: border-box;
    z-index: 2
}

.flatpickr-time {
    text-align: center;
    outline: 0;
    display: block;
    height: 0;
    line-height: 40px;
    max-height: 40px;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-transition: height .33s cubic-bezier(0, 1, .5, 1);
    transition: height .33s cubic-bezier(0, 1, .5, 1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #eee
}

.flatpickr-time:after {
    content: "";
    display: table;
    clear: both
}

.flatpickr-time .numInputWrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 40%;
    height: 40px;
    float: left;
    z-index: 3
}

.flatpickr-time .numInputWrapper span.arrowUp:after {
    border-bottom-color: #404848
}

.flatpickr-time .numInputWrapper span.arrowDown:after {
    border-top-color: #404848
}

.flatpickr-time.hasSeconds .numInputWrapper {
    width: 26%
}

.flatpickr-time.time24hr .numInputWrapper {
    width: 49%
}

.flatpickr-time input {
    background: transparent;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    height: inherit;
    line-height: inherit;
    cursor: pointer;
    color: #404848;
    font-size: 14px;
    position: relative;
    box-sizing: border-box
}

.flatpickr-time input.flatpickr-hour {
    font-weight: 700
}

.flatpickr-time input.flatpickr-minute,
.flatpickr-time input.flatpickr-second {
    font-weight: 400
}

.flatpickr-time input:focus {
    outline: 0;
    border: 0
}

.flatpickr-time .flatpickr-am-pm,
.flatpickr-time .flatpickr-time-separator {
    height: inherit;
    display: inline-block;
    float: left;
    line-height: inherit;
    color: #404848;
    font-weight: 700;
    width: 2%;
    z-index: 3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.flatpickr-time .flatpickr-am-pm {
    outline: 0;
    width: 18%;
    cursor: pointer;
    text-align: center;
    font-weight: 400
}

.flatpickr-time .flatpickr-am-pm:focus,
.flatpickr-time .flatpickr-am-pm:hover {
    background: #f3f3f3
}

.hasTime .flatpickr-days,
.hasWeeks .flatpickr-days {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.hasWeeks .flatpickr-days {
    border-left: 0
}

@media (-ms-high-contrast:none) {
    .flatpickr-month {
        padding: 0
    }
    .flatpickr-month svg {
        top: 0!important
    }
}

@-webkit-keyframes a {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes a {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.flatpickr-calendar {
    width: 293.75px
}

.flatpickr-days {
    padding: 0;
    border-right: 0
}

span.flatpickr-day {
    border-radius: 0!important;
    border: 1px solid #e9e9e9;
    margin: -1px 0 0 -1px;
    width: calc(14.28571% + 1px);
    -ms-flex-preferred-size: calc(14.28571% + 1px);
    flex-basis: calc(14.28571% + 1px);
    max-width: none;
    font-weight: 400
}

span.flatpickr-day:nth-child(7n) {
    border-right: 0
}

span.flatpickr-day:nth-child(n+36) {
    border-bottom: 0
}

span.flatpickr-day.today:not(.selected) {
    border-color: transparent;
    border-bottom: 1px solid #f64747
}

span.flatpickr-day.selected,
span.flatpickr-day.today {
    z-index: 2
}

.flatpickr-weekwrapper span.flatpickr-day {
    border: 0;
    margin-top: -1px
}

.hasWeeks .flatpickr-days {
    border-right: 0
}