.work-time {
    padding: 10px;
}

[v-cloak] {
    display: none;
}

.loadingAnimation {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 12px;
}

#appHeader {
    text-align: center;
    padding: 53px;
    position: relative;
}

#loadingBox {
    margin-top: 65px;
    padding: 100px 50px 95px 50px;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#footerControl {
    position: absolute;
    bottom: 0px;
    right: 5px;
}

.workDataTable {
    position: absolute;
    bottom: 0;
    top: 190px;
    overflow: auto;
}

.worktime {
    border-bottom: 1px solid #d6d6d6;
}

.borderBottom {
    border-bottom: 1px solid #d6d6d6;
}

.driveEntry {
    margin-bottom: 7px;
}

.workDataDateSpan {
    width: 50px;
    display: block;
    float: left;
    font-style: italic;
}

.endTime {
    margin-top: 9px;
}

.workTimeData i.fa {
    margin-left: 20px;
}

.workDataTable .columns {
    height: 16.6666%;
}

.workDataTable .columns .column {}

.calendarView {
    background-color: #efefef;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
}

.calendarView:hover:not(.isToday) {
    background-color: #d6d6d6;
}

.calendarDateIndex {
    position: absolute;
    top: 5px;
    right: 5px;
}

.calendarDateLabel {
    font-style: italic;
}

.workCount {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.isToday {
    background-color: #9eca9e;
}

.isToday:hover {
    background-color: #8bb58b;
}

i.iconCar.fa.fa-car {
    margin-top: 5px;
    font-size: 15px;
}

.headerIcon {
    font-size: 3.5rem;
}