<template>
    <div class="modal is-active" @keydown="startTyping">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">
                    {{ title }}
                </p>
                <button class="delete" @click="closeModal"></button>
            </header>
            <section class="modal-card-body">
                <slot>
                    Default body
                </slot>
            </section>
            <footer class="modal-card-foot">

                   <a :class="['button is-success is-medium', { 'is-loading': isLoading }]" @click="onSubmit">{{ submitButtonLabel }}</a>
                    <a class="button is-medium" @click="onCancel">Prekliči</a>
                  <div v-show="hasDialogError" class="help is-danger">
                    {{dialogError}}
                </div>
            </footer>
        </div>
    </div>
</template>


<script>
    export default {
        props: {
            title: {
                default: 'Default header title'
            },
            submitButtonLabel: {
                default: 'OK'
            }
        },

        data() {
            return {
                isLoading: false,
                dialogError: ''
            }
        },

        computed: {
            hasDialogError() {
                return this.dialogError;
            }
        },

        methods: {
            closeModal() {
                Event.fire('closeModal');
            },

            onSubmit() {
                Event.fire('onModalSubmit');
            },

            onCancel() {
                Event.fire('onModalCancel');
            },

            startTyping() {
                if (this.hasDialogError)
                    this.dialogError = '';
            }
        },

        mounted() {
            Event.listen('onModalLoading', () => {
                this.isLoading = true;
            });

            Event.listen('closeModal', () => {
                this.isLoading = false;
                this.dialogError = '';
            });

            Event.listen('onModalError', (error) => {
                this.isLoading = false;
                this.dialogError = error;
            });


        },
    }
</script>