<template>
    <div>
        <div class="columns">
            <div class="column is-half">
                <label class="label">Začetek dela</label>
                <p class="control has-icon has-icon-right">
                    <input type="text" v-model="dateStart" class="input" placeholder="Vnesi uro začetka" />
                    <span class="icon is-small">
                    <i class="fa fa-clock-o"></i>
                    </span>
                </p>
            </div>


            <div class="column is-half">
                <label class="label">Konec dela</label>
                <p class="control has-icon has-icon-right">
                    <input type="text" v-model="dateEnd" class="input" placeholder="Vnesi uro konca" />
                    <span class="icon is-small">
                        <i class="fa fa-clock-o"></i>
                    </span>
                </p>
            </div>

        </div>



        <div v-if="workData != null" class="box" v-show="!addingNewDriveEntry">
            <h3 class="title is-3">Seznam voženj</h3>
            <p v-show="!(workData.works != undefined && workData.works.length > 0)">Delovni čas je še brez zabeleženih voženj.</p>
            <div class="driveEntry" v-for="(work,index) in workData.works">
                <i class="iconCar fa fa-car"></i> <b>{{ work.name }}</b>, začetek <b>{{ work.getDateAndTime('startDate').date }}</b> ob <b>{{ work.getDateAndTime('startDate').time }}</b>, 
                konec <b>{{ work.getDateAndTime('endDate').date }}</b> ob <b>{{ work.getDateAndTime('endDate').time }}</b> 

                <a class="button is-small is-warning" @click="editDrive(work)">
                    <span class="icon is-small">
                        <i class="fa fa-pencil"></i>
                    </span>
                </a>
                <a class="button is-small is-danger" @click="deleteDrive(index)">
                    <span class="icon is-small">
                        <i class="fa fa-trash"></i>
                    </span>
                </a>
            </div>
        </div>

        <a class="button is-info" @click="addNewDrive" v-show="!addingNewDriveEntry">
            <span>Dodaj vožnjo</span>
                 <span class="icon is-small">
                <i class="fa fa-car"></i>
            </span>
        </a>

        <div class="box" v-show="addingNewDriveEntry">
            <h3 class="title is-3">Dodajanje nove vožnje</h3>
            <div class="columns">
                <div class="column">
                 <label class="label">Naslov vožnje</label>
                <p class="control has-icon has-icon-right">
                    <input type="text" v-model="workName" class="input" placeholder="Vnesi naslov vožnje (primer: Maribor - Bistrica)" />
                    <span class="icon is-small">
                    <i class="fa fa-comment"></i>
                    </span>
                </p>
                </div>
            </div>
            <div class="columns">
            <div class="column is-half">
                <label class="label">Začetek vožnje</label>
                <p class="control has-icon has-icon-right">
                    <input type="text" v-model="dateStartWork" class="input" placeholder="Vnesi uro začetka vožnje" />
                    <span class="icon is-small">
                    <i class="fa fa-clock-o"></i>
                    </span>
                </p>
            </div>


            <div class="column is-half">
                <label class="label">Konec vožnje</label>
                <p class="control has-icon has-icon-right">
                    <input type="text" v-model="dateEndWork" class="input" placeholder="Vnesi uro konca vožnje" />
                    <span class="icon is-small">
                        <i class="fa fa-clock-o"></i>
                    </span>
                </p>
            </div>

        </div>

            <a class="button is-info" @click="onSaveDrive"><span>Shrani vožnjo</span>        <span class="icon is-small">         <i class="fa fa-car"></i></span>
</a>
            <a class="button" @click="onCancelDrive">Prekliči</a>

        </div>

    </div>
</template>

<script>
    import WorkData from '../assets/js/core/WorkData.js';
    //import VueFlatpickr from 'vue-flatpickr';
    import moment from 'moment';

    export default {
        props: {
            selectedDate: {
                default: moment()
            }
        },

        components: {

        },

        data() {
            return {
                userId: null,
                workData: null,
                dateStart: '',
                dateEnd: '',
                dateStartWork: '',
                dateEndWork: '',
                workName: '',
                addingNewDriveEntry: false,
                editWorkData: null,
            }
        },

        methods: {
            addNewDrive() {
                this.addingNewDriveEntry = true;
            },

            editDrive(work) {
                this.editWorkData = work;
                this.dateStartWork = moment(new Date(this.editWorkData.startDate)).format('HH:mm');
                this.dateEndWork = moment(new Date(this.editWorkData.endDate)).format('HH:mm');
                this.workName = this.editWorkData.name;
                this.addingNewDriveEntry = true;
            },

            deleteDrive(index) {
                this.workData.works.splice(index, 1);
            },

            onSaveDrive() {
                var newDriveEntry = new WorkData();
                if (this.editWorkData != null) {
                    newDriveEntry = this.editWorkData;
                }

                var startDateParsed = this.dateStartWork.replace(/:/g, '.');
                var startDateSplitted = startDateParsed.split('.');

                var endDateParsed = this.dateEndWork.replace(/:/g, '.');
                var endDateSplitted = endDateParsed.split('.');

                var startingDate = moment(this.selectedDate).hour(startDateSplitted[0]).minute(startDateSplitted[1]);
                var endingDate = moment(this.selectedDate).hour(endDateSplitted[0]).minute(endDateSplitted[1]);

                if (endingDate.isBefore(startingDate)) {
                    endingDate.add(1, 'days');
                }

                newDriveEntry.startDate = startingDate.toISOString();
                newDriveEntry.endDate = endingDate.toISOString();
                newDriveEntry.name = this.workName;

                if (this.workData.works == undefined) this.workData.works = []

                if (this.editWorkData == null) {
                    this.workData.works.push(newDriveEntry);
                }

                this.addingNewDriveEntry = false;
                this.dateStartWork = '';
                this.dateEndWork = '';
                this.workName = '';
                this.editWorkData = null;

            },

            onCancelDrive() {
                this.addingNewDriveEntry = false
            },
        },

        mounted() {
            Event.listen('onEditData', editData => {
                console.log(editData);
                var workData = editData.workData;
                this.userId = editData.user.uid;
                if (workData == null) {
                    this.workData = new WorkData();
                    this.dateStart = '';
                    this.dateEnd = '';
                    this.workName = '';
                    this.dateStartWork = '';
                    this.dateEndWork = '';
                    this.workName = '';
                    return;
                }

                this.workData = Object.assign(Object.create(workData), workData);

                this.dateStart = moment(new Date(this.workData.startDate)).format('HH:mm');
                this.dateEnd = moment(new Date(this.workData.endDate)).format('HH:mm')

            });

            Event.listen('onModalSubmit', () => {
                if (this.workData == null) return;

                Event.fire('onModalLoading');

                //todo validate
                var startDateParsed = this.dateStart.replace(/:/g, '.');
                var startDateSplitted = startDateParsed.split('.');

                var endDateParsed = this.dateEnd.replace(/:/g, '.');
                var endDateSplitted = endDateParsed.split('.');

                var startingDate = moment(this.selectedDate).hour(startDateSplitted[0]).minute(startDateSplitted[1]);
                var endingDate = moment(this.selectedDate).hour(endDateSplitted[0]).minute(endDateSplitted[1]);

                if (endingDate.isBefore(startingDate)) {
                    endingDate.add(1, 'days');
                }

                this.workData.startDate = startingDate.toISOString();
                this.workData.endDate = endingDate.toISOString();

                this.workData.save(this.userId).then(savedWorkData => {
                    Event.fire('onSave', savedWorkData);
                    Event.fire('closeModal');
                    this.workData = null;
                }).catch((err) => {
                    console.log('err', err);
                    Event.fire('onModalError', 'Napaka!');
                });

            });

            Event.listen('onModalCancel', () => {
                this.workData = null;
                Event.fire('closeModal');
            });
        }
    }
</script>