<template>
    <div id="app">
        <div id="appHeader" class="hero is-info">
            <p class="title is-1">
                Taxi beleženje ur <i class="headerIcon fa fa-taxi"></i>
            </p>
            <div id="footerControl" class="block">
                <span class="select is-large">
                    <select v-model="selectedMonth">
                        <option value="0">Januar</option>
                        <option value="1">Februar</option>
                        <option value="2">Marec</option>
                        <option value="3">April</option>
                        <option value="4">Maj</option>
                        <option value="5">Junij</option>
                        <option value="6">Julij</option>
                        <option value="7">Avgust</option>
                        <option value="8">September</option>
                        <option value="9">Oktober</option>
                        <option value="10">November</option>
                        <option value="11">December</option>
                    </select>
                </span>
                <span class="select is-large">
                    <select v-model="selectedYear">
                        <option>2016</option>
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                        <option>2020</option>
                    </select>
                </span>
                <a class="button is-primary is-large" @click="addNewWork" v-show="false">
                    <span class="icon is-medium">
                         <i class="fa fa-plus-circle"></i>
                    </span>
                    <span>
                         Dodaj nov delovni čas
                    </span>
                </a>
                <a class="button is-danger is-large" @click="exportData">
                    <span class="icon is-medium">
                        <i class="fa fa-print"></i>
                    </span>
                    <span>
                        Printaj
                    </span>
                </a>
                <a v-if="userInited == false" class="button is-primary is-large is-loading">
                </a>
                <a v-if="user == null" v-show="userInited" class="button is-primary is-large" @click="signIn">
                    <span class="icon is-medium">
                        <i class="fa fa-sign-in"></i>
                    </span>
                    <span>
                        Prijava
                    </span>
                </a>
                <a v-if="user != null" v-show="userInited" class="button is-primary is-large" @click="signOut">
                    <span class="icon is-medium">
                        <i class="fa fa-sign-out"></i>
                    </span>
                    <span>
                        Odjava
                    </span>
                </a>

            </div>
        </div>

        <div class="columns">
            <div id="loadingBox" class="column box has-text-centered is-2 is-offset-5" v-show="loadingData && user != null">
                Nalaganje podatkov
                <img class="loadingAnimation" src="css/loading-pie.svg" />
            </div>
        </div>

        <div class="workDataTable column is-10 is-offset-1" v-show="!loadingData">

            <div class="columns" v-for="rowIndex in 6">
                <div class="column" v-for="columnIndex in 7">

                    <div :class="['calendarView', { 'isToday' : getDateData(rowIndex, columnIndex).isToday}]" v-show="getDateData(rowIndex, columnIndex).index != null"
                        @click="openWorkData(getDateData(rowIndex, columnIndex).date)">

                        <div class="calendarDateIndex">
                            {{ getDateData(rowIndex, columnIndex).index }}.
                            <span class="calendarDateLabel">{{ getDateData(rowIndex, columnIndex).daysLabel }}</span>


                        </div>

                        <div class="workCount">
                            <a class="button is-info" v-show="getDateData(rowIndex, columnIndex).worksCount > 0">
                                <span>
                                 {{ getDateData(rowIndex, columnIndex).worksCount }}
                                </span>
                                <span class="icon is-small">         
                                    <i class="fa fa-car"></i>
                                    </span>
                            </a>
                            <a class="button is-info" v-show="getDateData(rowIndex, columnIndex).drivesCount > 0">
                                <span>
                                 {{ getDateData(rowIndex, columnIndex).drivesCount }}
                                </span>
                                <span class="icon is-small">         
                                    <i class="fa fa-user-circle"></i>
                                    </span>
                            </a>
                            <a class="button is-primary" v-show="false">

                                <span class="icon is-small">         
                                    <i class="fa fa-plus"></i>
                                    </span>
                            </a>

                        </div>
                </div>
            </div>
        </div>


    </div>

    <div class="workDataTable column box is-10 is-offset-1" v-show="false">


        <div class="worktime columns" v-for="work in workData">

            <div class="workTimeData">
                <div class="startTime">
                    <span class="workDataDateSpan">Začetek:</span> <i class="fa fa-calendar-o"></i> {{ work.getDateAndTime('startDate').date
                    }} <i class="fa fa-clock-o"></i> {{ work.getDateAndTime('startDate').time }}
                </div>

                <div class="endTime">
                    <span class="workDataDateSpan">Konec:</span> <i class="fa fa-calendar-o"></i> {{ work.getDateAndTime('endDate').date
                    }} <i class="fa fa-clock-o"></i> {{ work.getDateAndTime('endDate').time }}
                </div>

            </div>
            <a class="button" @click="editWorkData(work.id)">
					Edit
				</a>
        </div>
    </div>



    <modal-card v-show="modal.open" :title="modal.title" submitButtonLabel="Shrani delovni čas">
        <work-data-editor :selectedDate="selectedDate">
        </work-data-editor>
    </modal-card>

    <modal-card v-show="modalShowWorks.open" :title="modalShowWorks.title" submitButtonLabel="V redu">
        <div class="worktime columns" v-for="work in workDataForDay">

            <div class="column is-one-third workTimeData">
                <div class="startTime">
                    <span class="workDataDateSpan">Začetek:</span> <i class="fa fa-clock-o"></i> {{ work.getDateAndTime('startDate').time
                    }}
                </div>

                <div class="endTime">
                    <span class="workDataDateSpan">Konec:</span> <i class="fa fa-clock-o"></i> {{ work.getDateAndTime('endDate').time
                    }}
                </div>

                <div class="endTime">
                    <span class="workDataDateSpan">Vožnje:</span> <i class="fa fa-car"></i> {{ work.getDriveCount() }}
                </div>

            </div>
            <div class="column is-half">

                Skupno trajanje vožnje: {{work.getWorkingHours().all}} ure<br /> Efektivne ure: {{work.getWorkingHours().effective}}
                ure
                <br /> Režijske ure: {{work.getWorkingHours().regression}} ura<br />
            </div>
            <div class="column">
                <a class="button is-warning" @click="editWorkData(work.id)">
					Uredi
				</a>
                <a v-if="false" class="button is-danger" @click="editWorkData(work.id)">
					Izbriši
				</a>
            </div>

        </div>
        <div class="worktime columns" v-show="workDataForDay.length > 0">
            <div class="column">
                <h1 class="title is-h4">Skupne ure za ta dan</h1>
                Skupno trajanje vožnje: {{ workingHoursThisDay.all}} ure<br /> Efektivne ure: {{workingHoursThisDay.effective}}
                ure
                <br /> Režijske ure: {{workingHoursThisDay.regression}} ura<br />
            </div>
        </div>
        <div>
            <a class="button is-info" @click="addNewWork" v-show="true">
                <span>Dodaj novi delovni čas</span>
                <span class="icon is-small">
                <i class="fa fa-plus"></i>
            </span>
            </a>
        </div>
    </modal-card>
    </div>
</template>

<script>
    //TODO Dodajanje nove vožnje, potem pa narediti dejanske klice na firebase, efektivne, ...
    import WorkTime from './components/WorkTime.vue';
    import ModalCard from './components/ModalCard.vue';
    import WorkDataEditor from './components/WorkDataEditor.vue';
    import WorkData from './assets/js/core/WorkData.js';
    import Modal from './assets/js/core/Modal.js';
    import Database from './assets/js/core/Database.js'
    import moment from 'moment';
    import PDFHelper from './assets/js/core/PDFHelper';
    import Auth from './assets/js/auth/Auth';
    import User from './assets/js/auth/User';
    import 'moment/locale/sl';
    //import store from './store';

    window.moment = moment;
    window.Database = Database;

    export default {
        name: 'app',

        components: {
            WorkTime,
            ModalCard,
            WorkDataEditor
        },

        data() {
            return {
                user: null,
                userInited: false,
                loadingData: true,
                firebase: null,
                workData: [],
                modal: new Modal(),
                modalShowWorks: new Modal(),
                selectedMonth: 0,
                selectedYear: 0,
                daysLabel: {
                    '1': 'Pon',
                    '2': 'Tor',
                    '3': 'Sre',
                    '4': 'Čet',
                    '5': 'Pet',
                    '6': 'Sob',
                    '0': 'Ned',
                },
                workDataForDay: [],
                selectedDate: {}

            }
        },

        private: {
            currentRowIndex: 0,
            currentColumnIndex: 0,
            currentCalendarData: {},
        },

        watch: {
            selectedMonth() {
                console.log('change month', this.selectedMonth);
            },

            selectedYear() {
                console.log('change year', this.selectedYear);
            },

            user(newValue, oldValue) {
                console.log('user changed from', oldValue, 'to', newValue);
                if (newValue != null) {
                    Database.getData(this.user.uid).then(userData => {
                        var userApiKey = userData.apiKey;
                        if (userApiKey) {

                            //todo check is valid api key
                            Database.getApiKeyData(userApiKey).then(apiKeyData => {
                                this.loadingData = false;

                                if (apiKeyData != null) {
                                    var taxiServiceName = apiKeyData.name;
                                    var isAllowed = apiKeyData.payment;
                                    console.log(taxiServiceName, isAllowed);
                                    
                                    if (isAllowed) {
                                        var workDataFromServer = userData.workData;
                                        console.log(workDataFromServer);

                                        for (let work in workDataFromServer) {
                                            var workData = workDataFromServer[work];
                                            this.workData.push(new WorkData(workData));
                                        }
                                    } else {
                                        console.log('todo not allowed');
                                    }
                                } else {
                                    console.log('todo api key ni pravilen');
                                }
                            }).catch(error => {
                                console.log('Napaka pri pridobivanju podatkov za api key "' + userApiKey + '":', error);
                            });


                        } else {
                            //todo dialog for inserting api key
                            console.log('todo dialog for inserting api key');
                            var apiKey = prompt('Vnesi api key');
                            console.log(apiKey);
                            Database.setApiKey(this.user.uid, apiKey).then( apiKey => {
                                console.log(apiKey , ' JUPI');
                                //todo do it refresh for data
                            }).catch(err => {
                                console.log(err);
                            });
                        }


                    }).catch(err => {
                        this.loadingData = false;
                        console.log(err);
                    });
                } else if (oldValue != newValue && newValue == null) {
                    this.loadingData = true;
                    this.workData = [];
                }
            }
        },

        computed: {
            hasData() {
                return this.workData.length > 0;
            },

            workingHoursThisDay() {
                var output = {
                    all: 0,
                    effective: 0,
                    regression: 0
                };

                this.workDataForDay.forEach(element => {
                    var dataTemp = element.getWorkingHours();
                    output.all += dataTemp.all;
                    output.effective += dataTemp.effective;
                    output.regression += dataTemp.regression;
                });
                return output;
            }
        },

        methods: {
            signIn() {
                this.authService.signIn();
            },

            signOut() {
                this.authService.signOut();
            },

            addNewWork() {
                Event.fire('onEditData', {
                    workData: null,
                    user: this.user
                });
                this.modalShowWorks.hide();
                this.modal.setTitle('Dodaj nov delovni čas za dan: ' + this.selectedDate.format('dddd, D. MMMM, YYYY'));
                this.modal.show();
            },

            editWorkData(id) {
                var workDataToEdit = this.workData.find((workData) => {
                    return workData.id == id;
                });

                Event.fire('onEditData', {
                    workData: workDataToEdit,
                    user: this.user
                });
                this.modalShowWorks.hide();

                this.modal.setTitle('Uredi podatke o delu na dan: ' + moment(new Date(workDataToEdit.startDate)).format('dddd, D. MMMM, YYYY'));
                this.modal.show();
            },

            exportData() {
                console.log('exporting');
                var pdfHelper = new PDFHelper();
                pdfHelper.export(this.selectedMonth, this.selectedYear);
            },

            getDateData(rowIndex, columnIndex) {
                if (rowIndex == this.currentRowIndex && columnIndex == this.currentColumnIndex) {
                    return this.currentCalendarData;
                }

                this.currentColumnIndex = columnIndex;
                this.currentRowIndex = rowIndex;
                var test = moment().year(this.selectedYear).month(this.selectedMonth).date(1);
                var offset = test.weekday();
                var maxDate = test.endOf('month').date();
                var index = columnIndex + ((rowIndex - 1) * 7) - offset;
                if (index > 0 && index <= maxDate) {
                    var test2 = moment().year(this.selectedYear).month(this.selectedMonth).date(index); //moment('1.' + this.selectedMonth + '.' + this.selectedYear);
                    var daysLabel = this.daysLabel[test2.days()];
                    var worksCount = 0;
                    var drivesCount = 0;
                    this.workData.forEach(function (element) {
                        var parsedDate = moment(new Date(element.startDate));
                        if (test2.isSame(parsedDate, 'day')) {
                            worksCount++;
                            if (element.works != undefined)
                                drivesCount += element.works.length;
                        };
                    });
                    this.currentCalendarData = {
                        date: test2,
                        index: index,
                        daysLabel: daysLabel,
                        worksCount: worksCount,
                        drivesCount: drivesCount,
                        isToday: test2.isSame(new Date(), 'day')
                    }
                    return this.currentCalendarData;
                }

                this.currentCalendarData = {};
                return this.currentCalendarData;
            },

            openWorkData(date) {
                this.selectedDate = date;
                this.workDataForDay = [];
                this.workData.forEach(element => {
                    var parsedDate = moment(new Date(element.startDate));
                    if (date.isSame(parsedDate, 'day')) {
                        this.workDataForDay.push(element);
                    };
                });

                this.modalShowWorks.setTitle('Delo na dan: ' + date.format('dddd, D. MMMM, YYYY'));
                this.modalShowWorks.show();
            }

        },

        mounted() {
            moment.locale('sl');
            var today = moment();
            this.selectedMonth = today.month();
            this.selectedYear = today.year();

            var config = {
                apiKey: "AIzaSyAHcI5Ae2vZO8WnKY9PIQCLAkiCsni1d-A",
                authDomain: "taxibelezenjeur.firebaseapp.com",
                databaseURL: "https://taxibelezenjeur.firebaseio.com",
                storageBucket: "taxibelezenjeur.appspot.com",
                messagingSenderId: "1019403995949"
            };
            this.firebase = firebase.initializeApp(config);
            this.authService = new Auth();


            Event.listen('userSignedIn', user => {
                this.user = new User(user);
                this.userInited = true;
            });

            Event.listen('userSignedOut', user => {
                this.user = null;
                this.userInited = true;
            });

            Event.listen('closeModal', () => {
                this.modal.hide();
                this.modalShowWorks.hide();
            });

            Event.listen('onModalSubmit', () => {
                if (this.modal.open == false) {
                    this.modal.hide();
                    this.modalShowWorks.hide();
                }
            });

            Event.listen('onSave', savedWorkData => {
                var isFound = this.workData.find(workData => {
                    return workData.id == savedWorkData.id;
                });

                if (isFound == undefined) {
                    this.workData.push(new WorkData(savedWorkData));
                }
            });

        }
    }
</script>